/*
 * Jeu Pang (Avril 2019)
 * script.js
 * 
 * Author: Fabian Devel, Nathanaël Houn, Valentin Perignon
 */

 /* Général */
 html, body {
     margin: 0;
     padding: 0;
 }

 body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
     font-size: 20px;
 }

 /* Content */
#content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

/* Canvas */
#cvs {
    border: 1px solid black;
}